@import "tailwindcss";



@theme{
  --color-darker-purple: #211C84;
  --color-medium-purple: #4D55CC;
  --color-lavender-purple: #7A73D1;
  --color-light-lavender: #B5A8D5;
}  



:root {
  background-color: #242424;
}
